{% extends "finance/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}

<h1>{% translate "Delete Account" %}</h1>

<form method="post">
    {% csrf_token %}
    <p>
        {% blocktrans %}
        Are you sure you want to delete "{{account}}"?
        {% endblocktrans %}
    </p>
    {{ form }}
    <input
        type="submit"
        value="{% translate 'Delete' %}"
        class="btn btn-danger"
    />
    <a
        href="{% url 'account-detail' account.pk %}"
        class="btn btn-secondary"
    >{% translate 'Cancel' %}</a>
</form>

{% endblock %}